<% provide(:title, 'アカウント登録') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規作成') %>
<h2>ユーザー登録</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
<div class="separator"></div>
<% unless logged_in? %>
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    <div class="mt-4">
      <%= f.hidden_field :email, :value => "guest@email.com" %>
      <%= f.hidden_field :password, :value => "guest" %>
      <%= f.hidden_field :remember_me, :value => "0" %>
      <%= f.submit "ゲストログイン", class: "btn btn-success btn-login" %>
    </div>
  <% end %>
<% end %>